.Poem__input{
    width: 77%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    margin: 0px 10px 2px 0px;
}

