.poemInput__container{
    background-color:#c9c9ba38;
    padding:20px;
    border-radius:10px;
    width:70%;
    position: absolute;
    top: 50%;
    left:50%;
    z-index:-45;
    transform: translate(-50%, -50%);


.poem__descriptions{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 11px;
}

.Poem__inputImage{
  background-color: rgb(64, 211, 28);
  padding: 10px 5px 7px 5px;
  position: relative;
  top: -2px;
  border-radius: 3px;
  margin:-4px;
}
.textarea{
  height: 23vh;
  width: 100%;
  resize: none;
  outline-color:rgb(64, 211, 28);
  border-radius: 4px;
  border:2px solid rgba(255, 0, 0, 0.322);
}



.poem__btn{
  padding: 10px;
  margin-top: 19px;
  border: none;
  width:101%;
  background-color:rgb(5, 180, 5);
  color:white;
  border-radius:4px;
  cursor: pointer;
}



.preview__image{
  position: absolute;
  top: -120px;
  right: 17px;
  border-radius:50%;
  width: 155px;
  height: 152px;
  object-fit: cover;
}

}


@media (max-width:600px){
  .poemInput__container{
    width:84%;

  .preview__image{
   position: absolute;
  top: -116px;
  left: -4px;
  border-radius: 50%;
  width: 155px;
  height: 152px;
  object-fit: cover; 
  }
}
}
