.Loader__container{
position: absolute;
top: 0;
bottom: 0;
width: 100vw;
backdrop-filter: brightness(0.4);
}
.Loader{
    position: absolute;
    top:50%;
    left:50%;
  transform:translate(-50%, -50%);
}